<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>Flight Ticket</title>
        <link href="css_ticket/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="css_ticket/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="css_ticket/custom.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        
        <div class="container-fluid">
            
            <div id="bop_app" class="row">

                <!-- Start Section Header Bar -->
                <section id="bop_header_bar" class="col-12">
                    <div class="row bop_page_title_row">
                        <div class="col-2">
                            <i class="fa fa-chevron-left"></i>
                        </div>
                        <div class="col-8 bop_title_col text-center">
                            <span class="bop_title">Flight ticket</span>
                        </div>
                        <div class="col-2 text-right">
                            <i class="fa fa-download"></i>
                        </div>
                    </div>
                </section>
                <!-- End Section Header Bar -->
                
                <!-- Start Section Body -->
                <section id="bop_body" class="col-12">

                    <div class="bop_body_container">

                        <!-- Start Body Head -->
                        <div class="row bop_menu_tabs_row text-center">
                            <div class="col-4 justify-content-center align-self-center">
                                <span class="bop_dep_time">07 JAN, 09:00 AM</span>
                                <span class="bop_country">IND</span>
                                <span class="bop_city">Mumbai</span>
                            </div>
                            <div class="col-4 justify-content-center align-self-center">
                                <span class="bop_plane">
                                    <i class="fa fa-plane"></i>
                                    <span class="bop_travel_time">1d 14h</span>
                                </span>
                            </div>
                            <div class="col-4 justify-content-center align-self-center">
                                <span class="bop_arv_time">08 JAN, 11:00 PM</span>
                                <span class="bop_country">FRA</span>
                                <span class="bop_city">Paris</span>
                            </div>
                        </div>
                        <!-- End Body Page Head -->
                        
                        <!-- Start Body Data 1 -->
                        <div class="row bop_body_data">

                            <div class="col-6">
                                <span class="bop_data_title">Flight</span>
                                <span class="bop_data_value">BI 2784</span>
                            </div>
                            <div class="col-6">
                                <span class="bop_data_title">Class</span>
                                <span class="bop_data_value">Business</span>
                            </div>
                            <div class="col-6">
                                <span class="bop_data_title">Boarding</span>
                                <span class="bop_data_value">09:10</span>
                            </div>
                            <div class="col-6">
                                <span class="bop_data_title">Gate</span>
                                <span class="bop_data_value">G1</span>
                            </div>
                            <div class="col-6">
                                <span class="bop_data_title">Departure</span>
                                <span class="bop_data_value">
                                    07 JAN
                                    <span class="bop_data_time">
                                        09:00 AM
                                    </span>
                                </span>
                            </div>
                            <div class="col-6">
                                <span class="bop_data_title">Arrival</span>
                                <span class="bop_data_value">
                                    08 JAN
                                    <span class="bop_data_time">
                                        11:00 PM
                                    </span>
                                </span>
                            </div>
                            
                        </div>
                        <!-- End Body Data 1 -->

                        <!-- Start Body Data 2 -->
                        <div class="row bop_data_passenger">
                            <div class="col-2 bop_passenger_img">
                                <img src="imgs/elon.png" />
                            </div>
                            <div class="col-7 bop_passenger_info">
                                <div class="justify-content-center align-self-center">
                                    <span class="bop_passenger_name">Elon Musk</span>
                                    <span class="bop_passenger_desc">48y, Male</span>
                                </div>
                            </div>
                            <div class="col-3 bop_passenger_status justify-content-center align-self-center">
                                <span class="bop_passenger_seat">
                                    <img src="imgs/seat.png" />
                                    <span>18A</span>
                                </span>
                            </div>
                        </div>
                        <div class="row bop_data_passenger">
                            <div class="col-2 bop_passenger_img">
                                <img src="imgs/bill.jpg" />
                            </div>
                            <div class="col-7 bop_passenger_info">
                                <div class="justify-content-center align-self-center">
                                    <span class="bop_passenger_name">Bill Gates</span>
                                    <span class="bop_passenger_desc">64y, Male</span>
                                </div>
                            </div>
                            <div class="col-3 bop_passenger_status justify-content-center align-self-center">
                                <span class="bop_passenger_seat">
                                    <img src="imgs/seat.png" />
                                    <span>19A</span>
                                </span>
                            </div>
                        </div>
                        <div class="row bop_data_passenger">
                            <div class="col-2 bop_passenger_img">
                                <img src="imgs/tata.jpg" />
                            </div>
                            <div class="col-7 bop_passenger_info">
                                <div class="justify-content-center align-self-center">
                                    <span class="bop_passenger_name">Ratan Tata</span>
                                    <span class="bop_passenger_desc">82y, Male</span>
                                </div>
                            </div>
                            <div class="col-3 bop_passenger_status justify-content-center align-self-center">
                                <span class="bop_passenger_seat">
                                    <img src="imgs/seat.png" />
                                    <span>20A</span>
                                </span>
                            </div>
                        </div>
                        <div class="row bop_data_passenger last-passenger">
                            <div class="col-2 bop_passenger_img">
                                <img src="imgs/murthy.jpg" />
                            </div>
                            <div class="col-7 bop_passenger_info">
                                <div class="justify-content-center align-self-center">
                                    <span class="bop_passenger_name">Narayan Murthy</span>
                                    <span class="bop_passenger_desc">73y, Male</span>
                                </div>
                            </div>
                            <div class="col-3 bop_passenger_status justify-content-center align-self-center">
                                <span class="bop_passenger_seat">
                                    <img src="imgs/seat.png" />
                                    <span>21A</span>
                                </span>
                            </div>
                        </div>
                        <!-- End Body Data 2 -->

                        <!-- Start Body Data 2 -->
                        
                        <div class="row bop_barcode_data">
                            <div class="col-12">
                                <span class="bop_barcode_title">
                                    <i class="fa fa-window-restore"></i>
                                    CodeFrog
                                </span>
                                <span class="bop_barcode">
                                    <img src="imgs/barcode.png" alt="">
                                </span>
                            </div>
                        </div>

                        <!-- End Body Data 3 -->
                    </div>
                </section>
                <!-- End Section Body -->

            </div>

        </div>
        












        <script src="js/custom.js" type="text/javascript"></script>
    </body>
</html>
